# Question 1:

In [2]:
import pandas as pd

print(pd.__version__)

1.0.5

# Question 2:

In [5]:
import numpy as np 
data = np.array(['a', 'b', 'c', 'd', 'e']) 
a = pd.Series(data) 
print(a)

0    a
1    b
2    c
3    d
4    e
dtype: object

# Question 3:

In [10]:
df = pd.DataFrame({'Roll Number': ['10', '11', '12', '13'], 
                   'Name': ['A', 'B', 'C', 'D'], 
                   'Marks In Percentage': [11, 22, 33, 44], 
                   'Grade': ['A', 'A', 'C', 'B'], 
                   'Subject': ['Comp', 'Comp', 'Comp', 'Comp']}) 
 
df

  Roll Number Name  Marks In Percentage Grade Subject
0          10    A                   11     A    Comp
1          11    B                   22     A    Comp
2          12    C                   33     C    Comp
3          13    D                   44     B    Comp

# Question 4:

In [34]:
import seaborn as sns

In [40]:
mpg = sns.load_dataset('mpg')

In [41]:
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [42]:
mpg.shape

(398, 9)

# Question 5:

In [43]:
mpg['origin'].unique()

array(['usa', 'japan', 'europe'], dtype=object)

# Question 6:

In [48]:
mpg[mpg['origin'] == 'usa']

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
392,27.0,4,151.0,90.0,2950,17.3,82,usa,chevrolet camaro
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10